/* Regole generali */
*{
    margin: 0;
   
}
/* regole container */
.container{
    width: 1000px;
    margin: auto;
}
/* Regole header */
header {
    background-color: #4da1ff;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 400px;
    background-position-x: 70px;
}
/* regole logo */
#logo {
    padding-top: 40px;
    padding-left: 185px;
    width: 190px;
}

/* regole main */
main{
    padding-left: 5px;
}
section h1  {
    font-size: 40px;
    }
#dati-scrittore{
    color: #87d2f1;
    font-size:  25px;
}
section h1 , #dati-scrittore{
    padding-top: 10px;
    padding-left: 10px;
}
#data{
    font-size: 15px;
}
.tim{
    padding-top: 15px;
    width: 400px;
    height: 300px;
   
}
#credit{
    font-size: 13px;
 
}
.evidenziatore{
    background-color: yellow;
}
section #articolo , ul {
    padding-top: 30px;
}
table{
    border-spacing: 0px;
    margin-top: 30px;
}
thead {
    border: 0px;
    background-color: #4da1ff;
    color: white;
}
tr:nth-child(odd){
    background-color: #4da0ff88;
}
td:last-child{
    width: 50%;
}
td{
    text-align: center;
}
    /* regole footer */
h3{
    color: #87d2f1;
    padding-top: 20px
}
#image  ,#image-1{
    width: 215px;
    height: 143px;
     background-size: contain;
     margin-top: 15px;
}
.scritta {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    margin-top: 5px;
    font-weight: bold;
}
  
#image{
    background-image: url(../img/monitor.jpg);
}
#image-1{
    background-image: url(../img/graph.jpg);
}
   